<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS for signin -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="/css/sb-admin.css" rel="stylesheet">-->

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/js/angular-v1.3.14.js"></script>

</head>

<body ng-app="SignIn"  ng-controller="FormController">
    <div class="container">

      <form class="form-signin" id="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUserName" class="sr-only">Email address</label>

        <input type="text" class="form-control" id="inputUserName" placeholder="UserName" ng-model="Account.UserName">

        <label for="inputPassword" class="sr-only">Password</label>

        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="Account.Password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="signin()">Sign in</button>

        <br/>
        <br/>
        <br/>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="false" id="warning">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
            Incorrect UserName and Password
        </div>
      </form>



    </div> <!-- /container -->



    <!-- Angular controllers -->
    <script>
      var app = angular.module('SignIn', []);
      app.controller('FormController', function($scope, $http, $window) {
        $scope.signin = function() {
          var userName = $scope.Account.UserName;
          var password = $scope.Account.Password;
          var baseUrl = '/Authentication/signin';
          var url = baseUrl + '?userName=' + userName
            + '&password=' + password;

          $http.get(url)
          .success(function cb(response) {
            console.log(response);
            if (response.code == 200) {
              $window.open('/Camera/index', '_self');
            } else {
              var ele = angular.element(document.querySelector( '#warning'));
              ele.attr('ng-show', "true");
              console.log('404');
            }
          })
        }
      });

    </script>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
</body>

</html>
